body {
    background-color: darkslategray;
    color: floralwhite;
}

.heading {
    font-size: 50px;
    color:navy;
    width: 70%;
    font-family: 'Cinzel Decorative', cursive;
}

#camera, #result{
    width: 800px;
    height: 500px;
    border: orangered 4px double;

}

.object_names{
    font-family: 'Bebas Neue', cursive;
    color: snow;
    font-size: 30px;
}

p {
    font-family: 'Festive', cursive;
    color:oldlace;
}

#object_name, #object_accuracy {
    color: lightsalmon;
    font-size: 15px;
}